.btn {
  padding: 9px 20px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  /* background: var(--btn-color); */
  border: none;
  border-radius: 6px;
  cursor: pointer;
  white-space: nowrap;
}
.btn:hover {
  filter: brightness(90%);
}
