.header {
  padding: 20px 0;
}
.row {
  min-height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* user */
.user {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 14px;
  color: var(--text-gray);
}
.user__img {
  width: 36px;
  height: 36px;
  background: #000;
  border-radius: 50%;
}

/* search */
.search {
  width: 303px;
  display: flex;
  align-items: center;
  column-gap: 16px;
  background-color: var(--dark-gray-color);
  padding: 7px 10px;
  border-radius: 6px;
}
.input {
  width: 100%;
  background: transparent;
  outline: none;
  border: none;
  color: #fff;
}
.input::placeholder {
  color: var(--text-gray);
}

/* shop */
.shop {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.cart {
  position: relative;
}
.amount {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 14px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 12px;
  background-color: var(--purple-color);
}
