.wrapper {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  inset: 0;
  /* background: #212123cc; */
  z-index: 1000;
  /* transform: scale(0.95); */
  transition: 0.3s;
}
.modal {
  position: absolute;
  right: -320px;
  width: 320px;
  background: var(--dark-gray-color);
  height: 100%;
  transition: 0.3s;
}
.inner {
  padding: 24px;
  position: relative;
}
.title {
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 24px;
}
.close {
  position: absolute;
  top: 14px;
  right: 14px;
  cursor: pointer;
}
.col {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}
.input {
  width: 100%;
  padding: 12px 24px;
  background: #212123;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  color: #fff;
}
.input:focus {
  outline: 1px solid var(--btn-color);
}
.input::placeholder {
  color: #616e74;
}
.buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.open {
  visibility: visible;
  opacity: 1;
  /* transform: scale(1); */
  backdrop-filter: blur(3px);
}
.wrapper.open .modal {
  right: 0;
}
